.logo{
/* border: 3px solid red; */
margin: 10px;
margin-left: 100px;
padding: 10px;
width: 1100px;
height: 30px;
flex-shrink: 0;
background-color: white;
text-align: center;



}
.image1{
   height: 30px;
}
*{
    background: var(--bgfeedbc, #FEEDBC);
}

.content{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
}
.image2{

    height: 500px;
    width: 500px;
}

.ndpart{
    
    align-items: center;

    
    
}

